<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true" throwConfigExceptions="true" internalLogLevel="Trace" >
  <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
  <targets>
    <target xsi:type ="Kafka" name="kafka" topic="topic" appname="TestSvr"
        traceId ="${aspnet-request:item=traceId}"
        requestIp = "${aspnet-request:item=requestIp}"
        bootstrapServers = "127.0.0.1:9092"
        QueueBufferingMaxMessages="2000000"
        MessageSendMaxRetries="3"
        layout="${message}">
    </target>
    <target xsi:type="File" name="allfile" fileName="${basedir}\Logs\LogAll\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="kafka" />
    <logger name="*" minlevel="Debug" writeTo="allfile" />
  </rules>
</nlog>